
:root {
    --topbar-height: 65px;
    --description-color: #707070;

}

a {
    color:inherit;
    /* text-decoration: none; */
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--topbar-height);
    width: 100vw;
    background: white;
    z-index: 10;
    opacity: 1;
    display:flex;
    align-items: center;
    justify-items: center;
    padding-left: 25px;
    /* padding-top: 15px; */
    box-shadow: 0px 0px 10px #bbb;
}

.topbar .options {

    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 40px;

}

.topbar .options .option-item {
    width: 75px;
    font-size: 0.9em;
    color: #555;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.topbar .options .option-item:hover {
    cursor: pointer;
    /* border-bottom: 1px solid black; */
    color: #000;
    transition: all 250ms ease-in-out;
}

.googleplaystore-topbar-icon {

    height: 40px;
    width: 165px;
}


.topbar-right {
    color : green;
    flex-grow: 1;
}


.main-container {
    margin-top: var(--topbar-height);
    margin-left: 100px;
    padding-top: 50px;
    width:850px;
}

.header .title{
    font-family: sans-serif;
    font-size:3.75em;
    font-weight: 600;
}

.header .title-description {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
}


.header .install-wishlist {
    display: flex;
}
.header .btn-install {
    width: 200px;
    height: 40px;
   background-color: #099970;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.header .btn-install:hover {
    cursor: pointer;
    background: #066348;
}

.header .btn-wishlist {
    color:green;
    font-weight:500;
    font-size: 1em;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 5px;
    user-select: none;
}

.header .btn-wishlist:hover {
    cursor: pointer;
    background: #f0f0fdff;

}

.header-icons {
    display: flex;
    flex-direction: row;
}

.header-icon {
    width: 115px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.header-icon-top {
    font-size: 1em;
    font-weight: 500;
}

.header-icon-bottom {
    font-size: 0.75em;
    color: #707070;
}

.header-icon .fa-star{
    font-size: 0.75em;
}

.screenshots {
    position: relative;
    margin-top: 20px;
    width: 850px;
    height: 300px;
    box-shadow: 0px 0px 5px #ddd;
}

.screenshots .arrow {
    position: absolute;
    
    top: 40%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #bbb;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    font-weight: 600;

    user-select: none;
}

.screenshots .left-arrow {
    left:-30px;
}
.screenshots .right-arrow {
    right: -30px;
}


.image-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 10px;
    overflow: hidden;
}


.about-app{
    padding-right: 10px;
}

.about-app .title {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 500;

}

.about-app .description {
    font-size: 0.9em;
    color: var(--description-color);
}

.about-app .updated-title {
    font-size:  1em;
}

.about-app .updated-date {
    font-size: 0.9em;
    color: var(--description-color);
}

.data-safety{
    margin-top: 20px;
}
.data-safety .title{
    font-size: 1.3em;
    font-weight: 500;

}

.data-safety .description {
    font-size: 0.9em;
    color: var(--description-color);
}

.data-safety .widget-container {
    width: 850px;
    /* height: 250px; */
    border-radius: 10px;
    box-shadow: 0px 0px 4px #ccc;
    padding: 20px;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
;
    

}
.data-safety .widget-container .widget {
    display: flex;
}

.data-safety .widget-container .icon {
    width: 20px;
    height: 20px;
    color: grey;
}

.data-safety .widget-container .text{
    margin-left: 20px;
   color: var(--description-color);

}

.data-safety .widget-container .text .second-line{
    font-size: 0.8em;
}

.ratings-and-reviews {
    margin-top: 20px;
}

.ratings-and-reviews .title {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

.ratings-and-reviews .profile {
    display: flex;
   align-items: center;
}

.ratings-and-reviews .profile .profile-pic-icon{
    border-radius: 16px;
}

.ratings-and-reviews .profile .profile-name{
    margin-left: 10px;
}

.ratings-and-reviews .rating-stars-and-review-date {
    margin-top: 10px;
    display: flex;
}
.ratings-and-reviews .rating-stars{
    color: green;
    font-size: 0.75em;
}
.ratings-and-reviews .review-date{
    color: var(--description-color);
    margin-left: 10px;
    font-size: 0.75em;
}

.ratings-and-reviews .review-text{
    margin-top: 10px;
    color: #444;
    font-size: 0.8em;
}

.ratings-and-reviews .found-helpful{
    margin-top: 10px;
    color: #666;
    font-size: 0.8em;
}
.ratings-and-reviews .find-helpful{
    display: flex;
}

.ratings-and-reviews .find-helpful-text{
    margin-top: 10px;
    margin-bottom: 30px;
    color: #666;
    font-size: 0.8em;
}

.ratings-and-reviews .find-helpful-btns{
    margin-left: 20px;
    display: flex;
    column-gap: 10px;
    position: relative;
    top: 10px;
    
    
}
.ratings-and-reviews .find-helpful-btn{
    width:60px;
    height: 20px;
    border-radius: 10px;
    color : #333;
    background-color: white;
    box-shadow: 0px 0px 3px #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    font-size: 0.9em;
}

.ratings-and-reviews .find-helpful-btn:hover{
    background: #eee;
}

.footer {
    margin-top: 20px;
    height: 300px;
    width: 100vw;
    box-shadow: 0px 0px 10px #ccc;
}